body {
	font-family: 'Open Sans', sans-serif;

	background-color: #f5f9fc;
	padding-top: 100px;

	padding: 50px;

	main {
		max-width: 1000px;
		margin: 0 auto;
	}

	h1 {
		font-weight: 300;
		// width: 20%;
	}

	h5 {
		display: inline-block;
		float: left;
		// position: absolute;
	}

	.results {
		color: #7a92a5;
		font-size: 12px;
		margin: 12px 5px;
	}

	header {
		width: 100%;
		flex-shrink: 0;
		border-radius: 6px;
		background-color: #fff;
		box-shadow: 0 2px 6px 1px #e1e5e8;
		margin-bottom: 14px;
		display: flex;
		flex-direction: column;
		border: 1px solid #fff;
		padding: 10px 20px;
		position: relative;

		input {
			width: 100%;
			text-overflow: ellipsis;
			display: inline-block;
			color: #20455e;
			font-size: 14px;
			outline: 0;
			transition: border .1s ease;
			resize: none;
			border: 1px solid #b6c1cd;
			border: none;

			&::placeholder  {
				color: #b6c1cd;
			}
		}
	}

	button {
		border: transparent;
		background: transparent;
		cursor: pointer;

		
	}
	button:active{
		border: transparent;
		background: transparent;
		outline:none;
	}
	button:focus{
		border: transparent;
		outline:none;
	}
	button:disabled{
		cursor: default;
		font-weight: bold;
		color: black;
	}
	
	// .navButton:disabled
	// {
	// 	font-weight: normal;
	// 	color: #8b9ca5;
	// }

	// .clone {
	// 	display:inline-block;
	// 	padding:0.2em 1em;
	// 	// border:0.10em solid #000000;
	// 	margin:.8em 0.3em 0.3em 0;
	// 	box-sizing: border-box;
	// 	text-decoration:none;
	// 	// text-transform:uppercase;
	// 	font-family:'Roboto',sans-serif;
	// 	font-weight:400;
	// 	color:#000000;
	// 	text-align:center;
	// 	transition: all 0.15s;
	// 	}
	// .clone:hover{
	// 	color: #a0a0a0;
	// }
	.tooltip {
		position: relative;
		display: inline-block;
		float: right;
	  }

	  .tooltip .tooltiptext {
		visibility: hidden;
		top: -5px;
  		right: 105%;
		background-color: black;
		color: #fff;
		text-align: center;
		border-radius: 6px;
		padding: 3px 0;
		width: 50px;
  		// bottom: 100%;
  		// left: 50%;
		font-size: 12px;
  		margin-left: -30px; /* Use half of the width (120/2 = 60), to center the tooltip */
		margin-top: 18px;
	  
		/* Position the tooltip */
		position: absolute;
		z-index: 1;
	  }
	  .tooltip:hover .tooltiptext {
		visibility: visible;
	  }
	.tooltippin {
		position: relative;
		display: inline-block;
		float: right;
	  }

	  .tooltippin .tooltiptextpin {
		visibility: hidden;
		top: -5px;
  		right: 150%;
		background-color: black;
		color: #fff;
		text-align: center;
		border-radius: 6px;
		padding: 3px 0;
		width: 50px;
  		// bottom: 100%;
  		// left: 50%;
		font-size: 12px;
  		margin-left: -30px; /* Use half of the width (120/2 = 60), to center the tooltip */
		margin-top: 2px;
	  
		/* Position the tooltip */
		position: absolute;
		z-index: 1;
	  }
	  .tooltippin:hover .tooltiptextpin {
		visibility: visible;
	  }

	
	a {
		color: #3899ec;
		cursor: pointer;
		font-weight: 500;
		font-size: 12px;
		
	}

	.show-more{
		width: 90px;
  	}

	.tickets {

		margin: 0;
		padding: 0;

		.ticket {
			width: 100%;
			flex-shrink: 0;
			border-radius: 8px;
			font-size: 16px;
			background-color: #fff;
			box-shadow: 0 2px 6px 1px #e1e5e8;
			margin-bottom: 14px;
			display: flex;
			flex-direction: column;
			border: 1px solid #fff;
			padding: 10px 20px;
			transition: box-shadow .2s ease-in-out;
			position: relative;

			&:hover {
				box-shadow: 0 2px 6px 1px #d3d7da;
			}

			.title {
				margin: 15px 0;
				// font-size: 16px;
				font-weight: 600;
				font-style: normal;
				color: #20455e;
			}

			.contentShow {
				margin: 15px 0;
				font-weight: 400;
				line-height: 1.2em;
				font-style: normal;
				color: #20455e;
			}

			.pinButton {
				background: transparent;
				border: transparent;
				color: black;
			}
			
			

			.contentHide {
				margin: 15px 0;
				overflow: hidden;
    			line-height: 1.2em;
    			height: 3.6em;
				font-weight: 400;
				font-style: normal;
				color: #20455e;
			}

			footer {

				display: flex;
				justify-content: space-between;

				.meta-data {
					color: #7a92a5;
					font-size: 12px;
					margin: 10px 0;
					flex-shrink: 0;
				}
			}


		}
	}
}


.darkMode {
	font-family: 'Open Sans', sans-serif;

	background-color:#18191a;
	padding-top: 100px;
	padding: 50px;

	main {
		max-width: 1000px;
		margin: 0 auto;
	}

	.bi-pin-angle{
		color: #7a92a5;
	}
	
	.bi-pin{
		color: #7a92a5;
	}


	
	.navButton {
	background: #e69f43;
	border-radius: 100px;
	padding: 10px 30px;
	color: #fff;
	text-decoration: none;
	font-size: 1em;
	margin: 0 15px;
	font-weight: bold;
	}
	
	.navButton:hover { 
		background: #ce9b59;
	}
	

	h1 {
		font-weight: 300;
		// width: 50%;
		color: #f5f6f7;
	}

	.results {
		color: #6a737d;
		font-size: 12px;
		margin: 12px 5px;
	}
	#noItemsToShow{
		color: #ffffff;
	}

	header {
		width: 100%;
		flex-shrink: 0;
		border-radius: 6px;
		// background-color: #fff;
		background-color: #090A11;
		box-shadow: 0 2px 6px 1px #090A11;
		margin-bottom: 14px;
		display: flex;
		flex-direction: column;
		border: 1px solid #090A11;
		padding: 10px 20px;
		position: relative;

		input {
			width: 100%;
			text-overflow: ellipsis;
			display: inline-block;
			color: #20455e;
			background-color: #090A11;
			font-size: 14px;
			outline: 0;
			transition: border .1s ease;
			resize: none;
			border: 1px solid #b6c1cd;
			border: none;

			&::placeholder  {
				color: #6a737d;
			}
		}
	}

	button {
		border: transparent;
		background: transparent;
		color: #9199a1;
		cursor: pointer;
	}
	button:active{
		border: transparent;
		background: transparent;
		outline:none;
	}
	button:disabled{
		cursor: default;
		font-weight: bold;
		color: #9199a1;
	}

	a {
		color: #3899ec;
		cursor: pointer;
		font-weight: 500;
		font-size: 12px;
		
	}
	.show-more{
  		width: 90px;
	}

	.tickets {

		margin: 0;
		padding: 0;

		.ticket {
			width: 100%;
			flex-shrink: 0;
			border-radius: 8px;
			font-size: 16px;
			background-color: #242526;
			box-shadow: 0 2px 6px 1px #18191a;
			margin-bottom: 14px;
			display: flex;
			flex-direction: column;
			border: 1px solid #242526;
			padding: 10px 20px;
			transition: box-shadow .2s ease-in-out;
			position: relative;

			&:hover {
				box-shadow: 0 2px 6px 1px #242526;
			}

			.title {
				margin: 15px 0;
				// font-size: 16px;
				font-weight: 600;
				font-style: normal;
				color: #f5f6f7;
			}

			.contentShow {
				margin: 15px 0;
				font-weight: 400;
				line-height: 1.2em;
				font-style: normal;
				color: #d4d4d4;
			}

			.pinButton {
				background: transparent;
				border: transparent;
				color: black;
			}
			
			

			.contentHide {
				margin: 15px 0;
				overflow:hidden;
    			line-height: 1.2em;
    			height: 3.6em;
				font-weight: 400;
				font-style: normal;
				color: #d4d4d4;
			}

			footer {

				display: flex;
				justify-content: space-between;

				.meta-data {
					color: #7a92a5;
					font-size: 12px;
					margin: 10px 0;
					flex-shrink: 0;
				}
			}


		}
	}
}

// #nextPage{
// 	float: right;
// 	top: 0px;
// }
// #pageCount{
// 	text-align: center;
// 	display: block;
// 	margin-left: auto;
//     margin-right: auto;
// 	float: right;
// }


#loadMore{
	margin: auto;
 	width: 100%;
  	text-align: center;
}

#noItemsToShow{
	margin: auto;
 	width: 100%;
  	text-align: center;
}


.nav{
	list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.column {
	margin: auto;
  }

.clone {
	list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
	float: right;
	margin-top: 18px;
  }

.dark-mode-lable{
	position: absolute;
	width: max-content;
	right: 65px;	
	// top: 90px;
	font-size: 18px;
	// margin-right: 300px;
}


	/* The switch - the box around the slider */
.switch {
	position: relative;
	float: right;
	display: inline-block;
	top: 10px;
	left: 30px;
	width: 45px;
	height: 26px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  /* The slider */
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 19px;
	width: 19px;
	left:  3px;
	bottom: 3px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  input:checked + .slider {
	background-color: #eba300;
  }
  
  input:focus + .slider {
	box-shadow: 0 0 1px #eba300;
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(19px);
	-ms-transform: translateX(19px);
	transform: translateX(19px);
  }
  
  /* Rounded sliders */
  .slider.round {
	border-radius: 26px;
  }
  
  .slider.round:before {
	border-radius: 50%;
  }





.navButton {
background: #a8a8a8;
border-radius: 100px;
padding: 10px 30px;
color: #fff;
text-decoration: none;
font-size: 1em;
margin: 0 15px;
font-weight: bold;
}

.navButton:hover { 
	background: #7e7e7e;
}
